---
---

@import "{{ site.theme }}";

/* Navigation Drawer Styles */
.nav-drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav-drawer a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-drawer a:hover {
  color: #f1f1f1;
}

.nav-drawer .close-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-toggle {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

#main_content_wrap {
  transition: margin-left .5s;
}

/* Adjust main content when nav is open */
@media screen and (max-width: 768px) {
  .nav-drawer {
    padding-top: 15px;
  }
  .nav-drawer a {
    font-size: 18px;
  }
}
